# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Project_C/Library/
Assets/AssetStoreTools*
.vs/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/

*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
/Project_C/Library
/Project_C/Temp

.idea/
.svn/
.vscode/
Log/
Logs/
*.txt
Library
